<p id="notice"><%= notice %></p>

<div class="row">
  <div class="column card">

    <h1>Eateries</h1>

    <ul class="no-style">
        <% @eateries.each_with_index do |eatery, i| %>
            <li><%= render eatery %></li>
            <% if i < @eateries.count - 1%>
                <hr>
            <% end %>
        <% end %>
    </ul>

    <br>

    <%= link_to 'New Eatery', new_eatery_path %>

  </div>
</div>
