<div class="row">
  <div class="column card">

    <p id="notice"><%= notice %></p>

    <h1>Eateries</h1>

    <ul class="no-style">
        <% @eateries.each_with_index do |eatery, i| %>
            <li><%= render eatery %></li>
            <% if i < @eateries.count - 1%>
                <hr>
            <% end %>
        <% end %>
    </ul>

    <br>

    <% if session[:user_id] %>
        <%= link_to 'New Eatery', new_eatery_path %>
    <% end %>

  </div>
</div>
